$mobile-max: 599px;
$tablet-max: 1024px;
$tablet-min: 600px;
$full-size: 100%;
$margin-size: 15px;
$font-size: 16px;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin box-title {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: $font-size;
    color: black;
    text-decoration: none;
    font-weight: normal;
}

html {
    height: $full-size;
}

body {

    @include flex-column;
    height: $full-size;

    .content {
        flex: 1 0 auto;

        header {
            @include flex-row;
            margin: $margin-size*2;
            align-items: center;
        
            .title {
                margin-left: $margin-size;
                font-weight: bold;
                font-size: $font-size*2;
            }
        
            .nav-header {
                display: flex;
                flex-grow: 2;
                align-self: flex-start;
                justify-content: flex-end;
        
                a {
                    width: 100px;
                }

                #last {
                    width: 50px;
                }

                #menu {
                    display: none;
                }
            }

            @media all and (max-width: $mobile-max) {
                justify-content: space-between;

                    .title {
                        display: none;
                    }
            
                    .nav-header {
                        a {
                            display: none;
                        }

                        #menu {
                            display: block; 
                        }
                    }
            }

            @media (max-width:$tablet-max) and (min-width:$tablet-min) {

                .nav-header {
                    a {
                        display: none;
                    }

                    #menu {
                        display: block;
                    }
                }
            }
        }

        main {
            @include flex-row;
            margin: $margin-size;

            @media all and (max-width: $mobile-max) {
                flex-wrap: wrap;
            }

            
            @media (max-width:$tablet-max) and (min-width:$tablet-min) {
                flex-wrap: wrap;
        
                article {
                    flex: 1 0 40%;
                }

                article:first-child {
                    flex: 0 1 100%;
                }  
            }

            article {
                @include flex-column;
                margin: $margin-size;
                width: $full-size;
                border: 2px solid black;
                align-items: flex-end;
                background-color: #c6ecd8;

                h1 {
                    border-left: 2px solid black;
                    border-bottom: 2px solid black;
                    height: 50px;
                    width: $full-size/2;
                    font-size: 1.5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .article-title1 {
                    background-color: #00BFFF;
                }

                .article-title2 {
                    background-color: #FF8C00;
                }

                .article-title3 {
                    background-color: #FFB6C1;
                }
                
                p {
                    text-align: justify;
                    padding: 15px;
                }
            }
            
            
        }
    }

    footer {
        @include flex-column;
        align-items: center;
        background-color: #c6ecd8;
        height: 100px;
        border-top: 2px black solid;
        margin-top: $margin-size;
        justify-content: center;
        flex-shrink: 0;
    
        .footer-content {
            text-align: center;
    
            #Name {
                font-weight: bold;
            }
        }
    }

    
}


