$mobile-max: 599px;
$tablet-max: 1024;
$tablet-min: 600;
$full-size: 100%;
$margin-size: 15px;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin box-title {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: normal;
}

html {
    height: $full-size;
}

body {

    @include flex-column;
    height: $full-size;

    .content {
        flex: 1 0 auto;
    }

    footer {
        @include flex-column;
        align-items: center;
        background-color: khaki;
        height: 100px;
        border-top: 2px black solid;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    
        .footer-content {
            text-align: center;
    
            #Name {
                font-weight: bold;
            }
        }
    }
    
}

header {
    
    @include flex-row;
    margin: $margin-size*2;
    align-items: center;

    .title {
        margin-left: $margin-size;
        font-weight: bold;
        font-size: 32px;
    }

    .nav-header {
        flex-grow: 2;
        align-self: flex-start;
        display: flex;
        justify-content: flex-end;

        a {
            margin: 0px 75px;
        }

        .menu-header{
            #menu {
                display: none;
            }
        }
    }
}

main {
    @include flex-row;
    margin: $margin-size;

    article {
        @include flex-column;
        margin: $margin-size;
        width: $full-size;
        border: 2px solid black;
        align-items: flex-end;

        .article-title {
            height: 50px;
            width: $full-size/2;
            font-size: 1.5em;
            text-align: center;
            background-color: khaki;
            @include box-title;
        }

        p {
            text-align: justify;
            padding: 15px;
        }
    }
}


@media all and (max-width: 599px) {
    main {
    flex-wrap: wrap;
    }

    header {

        justify-content: space-between;

        .title {
            display: none;
        }

        .nav-header {
            a {
                display: none;
            }

            .menu-header {
                #menu {
                    display: block;
                }
            }
        }
    }

    footer {
        display: none;
    }

    

}

@media (max-width:1024px) and (min-width:600px) {

    header {

        justify-content: space-between;

        .nav-header {
            a {
                display: none;
            }
            .menu-header {
                #menu {
                    display: block;
                    justify-self: left;
                    flex-grow: 2;
                }
            }
            
        }
    }
    
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main article {
        flex: 1 0 40%;
      }

    main article:first-child {
        flex: 0 1 100%;
    }  

}

